<div>
	<form role="form">
	  <div class="form-group">
	    <label for="name">提问？</label>
	    <textarea class="form-control" rows="3"></textarea>
	    
	  </div>
	  <div class="form-group text-right">
	       <button class="btn btn-success">提交</button>
	  </div>
	</form>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      	<a href=""><b>我是几米鼠:</b></a>
        <a data-toggle="collapse" data-parent="#accordion" 
          data-target="#collapseOne">
          “这货好用吗？亲，叽里呱啦，咕噜噜，呼啦啦。。。”
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        必须好用啊！谢谢光临！ <p style="display: inline-block;">---来自异想客服</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      	<a href=""><b>孤单雨滴:</b></a>
        <a data-toggle="collapse" data-parent="#accordion" 
          data-target="#collapseTwo">
          "这手环能连接手机嘛？"
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        坑定能啊！有线无线都可以。谢谢光临！ <p style="display: inline-block;">---来自异想客服</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      	<a href=""><b>心里有颗刺:</b></a>
        <a data-toggle="collapse" data-parent="#accordion" 
          data-target="#collapseThree">
         “这东东，电池耐用吗？这么小。”
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        这可是耐用中的耐耐耐用啊，太阳能充电呢？不怕没电，见光就充电。谢谢光临！ <p style="display: inline-block;">---来自异想客服</p>
      </div>
    </div>
  </div>
</div>