<br />
<div class="container">
	<div ui-view="product-detail-header">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12  col-xs-20">
						<ul class="list-unstyled pic-show">
							<li ng-show="index==$index" ng-repeat="img in details.photo_intros">
								<img class="img-responsive" src="{[img]}"/>
							</li>
						</ul>
						<br />
						<ul class="pic-list list-unstyled" style="width:100%;">
							<li ng-class="{'img-hover':index==$index,'default':true}" ng-mouseover="imgHover($index)" ng-repeat="img in details.photo_intros">
								<img class="img-responsive" ng-src="{[img]}" style="width: 100%;"/>
							</li>
						</ul>
					</div>
					<div class="col-md-8 col-xs-20">
						<h3>{[details.title]}</h3>
						<h4 style="color: red;">&yen;{[details.price]}</h4>
						<hr />
						<div>
							<p>好评指数：
								<i class="glyphicon glyphicon-star"></i>
								<i class="glyphicon glyphicon-star"></i>
								<i class="glyphicon glyphicon-star"></i>
							</p>
						</div>
						<div class="btn-group">
							<a class="btn btn-danger btn-lg" href="http://vimi168.taobao.com/dc.htm?spm=5726.1406519.1998212869.13.jpHs7X&v=1" target="_blank">立即购买</a>
							<a class="btn btn-success btn-lg" href="#">找人送我</a>
						</div>
						<div style="margin-bottom: 100px;">
							<h4 class="page-header">产品简介：</h4>
							<p>{[details.brief]}</p>
						</div>
						<div>
							<!-- JiaThis Button BEGIN -->
							<div class="jiathis_style_24x24" style="float: right;">
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div ui-view="product-detail-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li ui-sref-active="active" ui-sref=".describe">
						<a>商品详情</a>
					</li>
					<li ui-sref-active="active" ui-sref=".comment">
						<a>商品评价<span>(226)</span></a>
					</li>
					<li ui-sref-active="active" ui-sref=".buy">
						<a>成交记录<span>(248)</span></a>
					</li>
					<li ui-sref-active="active" ui-sref=".question">
						<a>咨询提问</a>
					</li>
				</ul>
				<div class="product-detail-tab" style="padding-top: 50px;">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 热门推荐 -->
<div class="container">
	<div class="row">
		<div class="col-md-20">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>热门推荐</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>雨天里的诗意魔法—如鱼得水 遇水变色雨伞</h4>
									</a>
								</div>
								<div class="finish text-right" style="padding: 0 10px;">
									<h3 style="color:red">&yen;98</h3>
								</div>
								<hr />
								<div class="" style="padding: 0 10px 10px;height: 45px;">
									<h5 class="pull-left">已售：<span style="color: red;">26</span>件</h5>
									<h5 class="pull-right">评论：<span style="color: red;">23</span></h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>雨天里的诗意魔法—如鱼得水 遇水变色雨伞</h4>
									</a>
								</div>
								<div class="finish text-right" style="padding: 0 10px;">
									<h3 style="color:red">&yen;8</h3>
								</div>
								<hr />
								<div class="" style="padding: 0 10px 10px;height: 45px;">
									<h5 class="pull-left">已售：<span style="color: red;">2116</span>件</h5>
									<h5 class="pull-right">评论：<span style="color: red;">223</span></h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>雨天里的诗意魔法—如鱼得水 遇水变色雨伞</h4>
									</a>
								</div>
								<div class="finish text-right" style="padding: 0 10px;">
									<h3 style="color:red">&yen;18</h3>
								</div>
								<hr />
								<div class="" style="padding: 0 10px 10px;height: 45px;">
									<h5 class="pull-left">已售：<span style="color: red;">216</span>件</h5>
									<h5 class="pull-right">评论：<span style="color: red;">231</span></h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>雨天里的诗意魔法—如鱼得水 遇水变色雨伞</h4>
									</a>
								</div>
								<div class="finish text-right" style="padding: 0 10px;">
									<h3 style="color:red">&yen;198</h3>
								</div>
								<hr />
								<div class="" style="padding: 0 10px 10px;height: 45px;">
									<h5 class="pull-left">已售：<span style="color: red;">436</span>件</h5>
									<h5 class="pull-right">评论：<span style="color: red;">243</span></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
