<div>
	<form role="form">
		<div class="form-group">
			<label for="name">提问？</label>
			<textarea class="form-control" rows="3"></textarea>
		</div>
		<div class="form-group text-right">
			<button class="btn btn-success">提交</button>
		</div>
	</form>
</div>

<div>
	<span>网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友：</span><span>一踩踩</span><span style="padding-left:50px;color:#999;">2014-12-03 09:46:20</span>
	<div>咨询内容：笔记本能用吗？</div>
	<div>
		<span style="color:red">异想回复： 您好！这款音箱配有AUX音频线，可以连接笔记本的。感谢您对异想的支持！祝您购物愉快！</span>
		<span class="pull-right" style="color:#999">2014-12-03 10:46:20</span>
	</div>
	<hr/>
</div>
<div>
	<span>网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友：</span><span>仟语陌路</span><span style="padding-left:50px;color:#999;">2014-12-02 11:23:20</span>
	<div>咨询内容：为什么连不上蓝牙？</div>
	<div>
		<span style="color:red">异想回复： 您好！这款音箱是支持安卓智能手机的蓝牙连接，我们产品均享受7天退换新，1年保修服务，如果您购买的产品存在问题，欢迎咨询在线客服，我们将竭诚为您服务，谢谢！感谢您对异想的支持！祝您购物愉快！</span>
		<span class="pull-right" style="color:#999">2014-12-02 12:46:20</span>
	</div>
	<hr/>
</div>