<div class="row">
	<div class="col-md-20 text-center" style="padding-bottom: 100px;border-bottom: 1px dashed #ccc;">
		<h1 class="media-heading" style="font-size: 55px;color: #0081C2;">异想创意，敢想敢创</h1>
		<br />
		<h4 style="line-height: 28px;padding: 0 120px;">异想”，一群努力把各种创意转变为现实的人。动手与分享，是他们的人生态度。从传统手工艺到高科技电子产品，科技创业者、软件开发者、艺术家、设计师们，正通过数字工具、开源硬件、在线分享与合作，改变着这个星球的制造行业。</h4>
	</div>
	<div class="col-md-20" style="padding-bottom: 100px;padding-top: 100px;">
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="/img/step1.png" alt="...">
			</a>
			<div class="media-body" style="padding-top: 200px;">
				<h1 class="media-heading" style="font-size: 55px;color: #f36;">提交创意</h1>
				<h4 style="line-height: 28px;">登录创意征集，点击发起我的项，填写个基本信息以及产品创意相关信息，成功提交后异想将于1-2个作进审核，通过后将显在创意发起。</h4>
			</div>
		</div>
	</div>
	<div class="col-md-20">
		<div class="media">
			<a class="pull-right" href="#">
				<img class="media-object" src="/img/step2.png" alt="...">
			</a>
			<div class="media-body" style="padding-top: 200px;">
				<h1 class="media-heading" style="font-size: 55px;color: #f36;">创意点赞</h1>
				<h4 style="line-height: 28px;">提交创意通过审核显⽰在创意投票⻚⾯后，我们将对项⺫进⾏为期2星期的投票征集，⽤户可以选择⾃⼰喜欢的项⺫⽀持点赞或者吐槽，也可以写下你的想法和改进建议。</h4>
			</div>
		</div>
	</div>
	<div class="col-md-20">
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="/img/step3.png" alt="...">
			</a>
			<div class="media-body" style="padding-top: 200px;">
				<h1 class="media-heading" style="font-size: 55px;color: #f36;">专家评估</h1>
				<h4 style="line-height: 28px;">发起项⺫获得100个点赞后，⽅可进⼊专家评分阶段，多位专家在⼀周内对项⺫从设计，功能，外观，创意，以及市场需求进⾏评估。</h4>
			</div>
		</div>
	</div>
	<div class="col-md-20">
		<div class="media">
			<a class="pull-right" href="#">
				<img class="media-object" src="/img/step4.png" alt="...">
			</a>
			<div class="media-body" style="padding-top: 200px;">
				<h1 class="media-heading" style="font-size: 55px;color: #f36;">开发生产</h1>
				<h4 style="line-height: 28px;">项⺫获得认可后，我们会对项⺫进⾏专业的设计开发和⽣产，将您的天才想法变成现实。</h4>
			</div>
		</div>
	</div>
	<div class="col-md-20">
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="/img/step5.png" alt="...">
			</a>
			<div class="media-body" style="padding-top: 200px;">
				<h1 class="media-heading" style="font-size: 55px;color: #f36;">产品问世</h1>
				<h4 style="line-height: 28px;">产品批量⽣产，进⼊⾃有或者各⼤电商平台销售，将有机会成为热⻔创意产品。</h4>
			</div>
		</div>
	</div>
</div>