<h2>管理收货地址</h2>
<hr />
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default" style="border-color: #0099FF;">
			<div class="panel-body">		
				<b style="font-size: 18px;">
					<span class="glyphicon glyphicon-map-marker" style="padding-right: 15px;"></span>
					张三
				</b>
				<a class="btn btn-danger pull-right" href="#" style="font-size: 10px;margin-left: 10px;">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				<a class="btn btn-default pull-right" href="#" style="font-size: 10px;">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>			
				<hr />
				<p>15625297812</p>
				<p>
					<span>深圳市</span>
					<span>南山区</span>
					<span>华侨城创意园创想星空</span>
					<span>(518055)</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body">		
				<b style="font-size: 18px;">
					<span class="glyphicon glyphicon-map-marker" style="padding-right: 15px;"></span>
					李四
				</b>
				<a class="btn btn-danger pull-right" href="#" style="font-size: 10px;margin-left: 10px;">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				<a class="btn btn-default pull-right" href="#" style="font-size: 10px;">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>			
				<hr />
				<p>15625297812</p>
				<p>
					<span>深圳市</span>
					<span>南山区</span>
					<span>科技园异想创意大厦</span>
					<span>(518055)</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body text-center">		
				<a class="btn btn-default" href="#">添加新地址</a>
			</div>
		</div>
	</div>
</div>