<!--一个商品展示区域开始-->
<div class="col-lg-4 col-md-5 col-sm-10 sale-item" ng-repeat="latest in latests">
	<div class="sale-item-box" ng-click="getShopDetail(latest.id)">
		<div class="sale-item-img">
			<a ui-sref=".detail.describe" target="_blank">
				<img class="img-responsive" ng-src="{[imgUrl+latest.photo_intros]}"/>
			</a>
			<p>&yen;<span style="color: red;">&nbsp;{[latest.price | number:2]}</span></p>
		</div>
		<div class="sale-item-title">
			<a ui-sref=".detail.describe" target="_blank">{[latest.title]}</a>
		</div>
		<div class="sale-item-tips">
			<a class="btn btn-danger btn-xs" href="#">
				<span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
				{[latest.num_liked]}
			</a>
			<a class="pull-right" href="">销量({[latest.num_sale]})</a>
		</div>
		<hr class="sale-item-line" />
		<!--一个用户评论区域开始-->
		<div class="sale-item-comment">
			<ul class="list-unstyled">
				<li class="head">
					<a href="">
						<img class="img-circle img-responsible" ng-src="{[imgUrl+latest.post.avater]}"/>
					</a>
				</li>
				<li class="comment">
					<a href="">{[latest.post.username]}</a>
					<p>{[latest.post.comments]}</p>
				</li>
			</ul>
		</div>
	</div>
	<!--一个用户评论区域结束-->
</div>
<!--一个商品展示区域结束-->