<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset = "UTF-8">
<title>异想</title>
    <link href="css/bootstrap.custom.min.css" rel="stylesheet">
    <!-- 载入Compass处理后的css文件 -->
    <link href="css/main.css" rel="stylesheet" />

    <!--载入sale-item的css样式-->
    <link rel="stylesheet" href="css/sale-item.css" />
    <link rel="stylesheet" href="css/fever-item.css" />
    <link rel="stylesheet" href="css/shop.css" />
    <!--头像上传截图css-->
    <link rel="stylesheet" href="js/lib/croppic/croppic.css" />

    <style type="text/css" media="screen">
    body {
        padding-top:50px
    }
    </style>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap-hover-dropdown.min.js"></script>
    <!--头像上传截图js-->
    <script src="js/lib/croppic/croppic.js"></script>

    <script language="javascript" src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>
    <script language="javascript" src="js/lib/angular-ui-router.min.js"></script>
    <script language="javascript" src="js/lib/underscore-min.js"></script>
    <script language="javascript" src="js/lib/restangular.min.js"></script>
	<!-- 多图片上传 -->
	<script src="js/lib/FileUpload/jquery.ui.widget.js"></script>
    <script src="js/lib/FileUpload/jquery.iframe-transport.js"></script>
    <script src="js/lib/FileUpload/jquery.fileupload.js"></script>
</head>
<body ng-controller="ApplicationController" style="overflow-y: -scroll;">
<!--放在前面，避免个人中心的闪烁出现-->
<script type="text/javascript" charset="utf-8">
     var global_user=null;
</script>
<script language="javascript" src="js/config/config.js"></script>
<script language="javascript" src="js/controllers/main.js"></script>
<script language="javascript" src="js/directives/my_directive.js"></script>
<script language="javascript" src="js/services/serv.js"></script>
<!--头部导航栏开始-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="collapsed-navbar" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">
                <img alt="Brand" src="" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav" id="navbar-top">
                <li ui-sref-active="active" class="" id="btn-home">
                	<a ui-sref="index">
                		<!--<span class="glyphicon glyphicon-home"></span>-->
                		主页
                	</a>
                </li>
                <li ui-sref-active="active" class="" id="btn-pre-sale">
                	<a ui-sref="fever" >
                		<!--<span class="glyphicon glyphicon-dashboard"></span>-->
                		发现创意
                	</a>
                </li>
                <li ui-sref-active="active" class="" id="btn-vote">
                	<a ui-sref="submit-fever-center" >
                		<!--<span class="glyphicon glyphicon-heart"></span>-->
                		发起我的创意
                	</a>
                </li>
                <li ui-sref-active="active" id="btn-shop">
                	<a ui-sref="shop">
                		<!--<span class="glyphicon glyphicon-shopping-cart"></span>-->
                		商店
                	</a>
                </li>
                <li ui-sref-active="active" id="btn-bbs">
                	<a href="/forum/">
                		<!--<span class="glyphicon glyphicon-tree-deciduous"></span>-->
                		社区
                	</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="请输入关键字">
                </div>
                <button type="submit" class="btn btn-success btn-sm" hidefocus>搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <!--登录后用户中心区域开始/默认隐藏-->
                <li class="dropdown" ng-show="currentUser">
                    <a class="dropdown-toggle" data-hover="dropdown" data-close-others="false">
                        <span class="glyphicon glyphicon-user" ng-bind="currentUser.username"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="user-center">个人中心</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="user-setting-center.setting">账户设置</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="user-setting-center.info">查看个人资料</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="user-setting-center.order">我的订单</a></li>
                        <li class="divider"></li>
                        <li><a ng-controller="authController" ng-click="logout()" >退出</a></li>
                    </ul>
                </li>
                <li id="btn-login" ng-hide="currentUser">
                    <a data-toggle="modal" data-target="#login" style="cursor: pointer;">登录</a>
                </li>
                <li id="btn-register" ng-hide="currentUser">
                    <a data-toggle="modal" data-target="#register" style="cursor: pointer;">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>

<div ng-controller="authController">
	<!--登录弹出框区域开始-->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true" style="top: 10%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal"  name="loginForm" ng-submit="login(credentials)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="loginLabel">
							登录异想
						</h3>
					</div>
					<div class="modal-body" style="padding: 0 40px;">
						<div class="form-group" style="padding: 15% 15%;">
							<input class="btn btn-lg btn-default" type="button" value="用微博登陆" style="float: left;width: 45%;"/>
							<input class="btn btn-lg btn-default" type="button" value="用QQ登陆" style="float: right;width: 45%;"/>
						</div>
						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="userName"
								type="text"
								placeholder="用户名"
								ng-minlength="6"
								ng-maxlength="25"
								ng-model="credentials.username"
								ng-pattern="/^[\u4e00-\u9fa5-_0-9a-zA-Z]+$/"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                              ng-show="loginForm.userName.$dirty && loginForm.userName.$valid"
	                              style="color: green;">
							</span>
							<span ng-show="loginForm.userName.$dirty && loginForm.userName.$invalid">
								<span ng-show="loginForm.userName.$error.minlength" style="color: red;">请输入6个字符以上</span>
								<span ng-show="loginForm.userName.$error.maxlength" style="color: red;">请输入25个字符以下</span>
								<span ng-show="loginForm.userName.$error.pattern" style="color: red;">输入的用户名不合法</span>
							</span>
						</div>
						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="password"
								type="password"
								placeholder="密码(6~12)"
								ng-maxlength="12"
								ng-minlength="6"
								ng-model="credentials.password"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                              ng-show="loginForm.password.$dirty && loginForm.password.$valid"
	                              style="color: green;">
							</span>
							<span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
								<span ng-show="loginForm.password.$error.minlength" style="color: red;">输入的密码少于6位</span>
								<span ng-show="loginForm.password.$error.maxlength" style="color: red;">输入的密码超过12位</span>
							</span>
						</div>
						<div class="checkbox">
					      	<label>
					      		<input type="checkbox"> 自动登录
					      	</label>
					      	<a href="#" style="float: right;">忘记密码？</a>
					   	</div>
					</div>
					<div class="modal-footer" style="padding: 20px 40px;">
						<div class="form-group" style="text-align: center;">
							<input class="btn btn-lg btn-success btn-block " type="submit" value="登录" id="loginBtn"/>
							<br />
							<span>已有账号？<a data-toggle="modal" data-target="#register" style="cursor: pointer;">立即注册</a></span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--登录弹出框区域开始-->

	<!--注册弹出框区域开始-->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true" style="top: 10%">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" role="form" name="registerForm" ng-submit="register(user)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="registerLabel">
							注册异想
						</h3>
					</div>
					<div class="modal-body" style="padding: 0 40px;">
						<br />
						<div class="form-group" style="padding: 5% 10%;">
							<input class="btn btn-lg btn-default" type="button" value="用微博登陆" style="float: left;width: 45%;"/>
							<input class="btn btn-lg btn-default" type="button" value="用QQ登陆" style="float: right;width: 45%;"/>
						</div>
						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="userName"
								type="text"
								placeholder="用户名"
								ng-maxlength="25"
								ng-model="user.username"
								ng-pattern="/^[\u4e00-\u9fa5-_0-9a-zA-Z]+$/"
								ng-blur="onlyUserName(user.username)"
								ng-focus="isUserName=disabled"
								required
							/>
							<!--失去焦点后验证用户名唯一性开始-->
							<span
								class="glyphicon glyphicon-ok form-control-feedback"
	                  			ng-show="registerForm.userName.$dirty && registerForm.userName.$valid && isUserName==true"
	                  			style="color: green;">
							</span><!--可用-->
							<span
								class="glyphicon glyphicon-remove form-control-feedback"
	                  			ng-show="registerForm.userName.$dirty && registerForm.userName.$valid && isUserName==false"
	                  			style="color: red;">
							</span><!--不可用-->
							<!--失去焦点后验证用户名唯一性结束-->

							<span ng-show="registerForm.userName.$dirty && registerForm.userName.$invalid">
								<!-- <span ng-show="registerForm.userName.$error.minlength" style="color: red;">请输入6个字符以上</span> -->
								<span ng-show="registerForm.userName.$error.maxlength" style="color: red;">请输入25个字符以下</span>
								<span ng-show="registerForm.userName.$error.pattern" style="color: red;">输入的用户名不合法</span>
							</span>
						</div>

						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="email"
								type="email"
								placeholder="邮箱"
								ng-model="user.email"
								ng-blur="onlyEmail(user.email)"
								ng-focus="isEmail=disabled"
								required
							/>
							<!--失去焦点后验证用户名唯一性开始-->
							<span
								class="glyphicon glyphicon-ok form-control-feedback"
	                  			ng-show="registerForm.email.$dirty && registerForm.email.$valid && isEmail==true"
	                  			style="color: green;">
							</span><!--可用-->
							<span
								class="glyphicon glyphicon-remove form-control-feedback"
	                  			ng-show="registerForm.email.$dirty && registerForm.email.$valid && isEmail==false"
	                  			style="color: red;">
							</span><!--不可用-->
							<!--失去焦点后验证用户名唯一性结束-->
							<span ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
								<span ng-show="registerForm.email.$error.email" style="color: red;">输入正确的邮箱</span>
							</span>
						</div>

						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="password1"
								type="password"
								placeholder="密码"
								ng-maxlength="12"
								ng-minlength="6"
								ng-model="user.password1"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                              ng-show="registerForm.password1.$dirty && registerForm.password1.$valid"
	                              style="color: green;">
							</span>
							<span ng-show="registerForm.password1.$dirty && registerForm.password1.$invalid">
								<span ng-show="registerForm.password1.$error.minlength" style="color: red;">输入的密码少于6位</span>
								<span ng-show="registerForm.password1.$error.maxlength" style="color: red;">输入的密码超过12位</span>
							</span>
					    </div>
					   	<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="password2"
								type="password"
								placeholder="确认密码"
								ng-model="user.password2"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                  ng-show="registerForm.password1.$dirty && registerForm.password1.$valid && user.password1 == user.password2"
	                  style="color: green;">
							</span>
							<span
								    ng-show="registerForm.password2.$dirty && registerForm.password1.$valid && user.password1 != user.password2"
								    style="color: red;">
								两次输入的密码不一致。
							</span>
						</div>
						<div class="checkbox">
						    <label class="checkbox-inline">
						    	<input type="checkbox" name="agree" ng-model="user.agree"/> 同意异想服务协议
						    </label>
					    </div>
					</div>
					<div class="modal-footer"  style="padding: 20px 40px;">
						<br />
						<div class="form-group">
							<input class="btn btn-lg btn-success btn-block" id="registerBtn" type="submit" value="确认注册"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--注册弹出框区域结束-->

	<!--验证邮箱开始-->
	<div class="modal fade" id="activate" tabindex="-1" role="dialog" aria-labelledby="activateLabel" aria-hidden="true" style="top: 10%">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" action="#" role="form" name="activate">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="activateLabel" style="color: green;">
							激活账号
							<br />
							<small>请点击以下链接验证邮箱激活</small>
						</h3>
					</div>
					<div class="modal-body">
						<a href="//{[user.activate]}" target="_blank"><h5>http://{[user.activate]}</h5></a>
					</div>
					<div class="modal-footer"  style="padding: 20px 40px;">
						<a class="btn btn-default" data-dismiss="modal" href="">返回</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--验证邮箱结束-->
</div>

<!--移动端底部菜单开始-->
<nav class="navbar navbar-fixed-bottom visible-sm visible-xs" style="background: #F8F8F8;">
	<ul class="nav">
		<li class="col-xs-4 text-center">
			<a href="" class="bar-active"><span class="glyphicon glyphicon-home"></span><br>首页</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-pencil"></span><br>发起</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-tasks"></span><br>项目</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href="" class="bar-create"><span class="glyphicon glyphicon-comment"></span><br>消息</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-user"></span><br>我的</a>
		</li>
	</ul>
</nav>
<!--移动端底部菜单结束-->

<!--返回顶部开始-->
<div class="back-top" style="position: fixed;right: 3%;bottom: 20%;">
	<div class="suggest text-center" style="background: #ccc;width: 50px;height: 50px; border-radius: 50px;padding-top: 13px;">
		<a  data-toggle="modal" data-target="#suggest" title="吐槽建议">
         <span class="glyphicon glyphicon-comment" style="font-size: 25px;"></span>
		</a>
	</div>
	<br />
	<div class="go text-center" style="background: #ccc;width: 50px;height: 50px; border-radius: 50px;padding-top: 13px;">
		<a href="" title="返回顶部"><span class="glyphicon glyphicon-plane" style="font-size: 25px;"></span></a>
	</div>
</div>
<!--返回顶部结束-->

<!--吐槽建议开始-->
<div class="modal fade" id="suggest" tabindex="-1" role="dialog" aria-labelledby="suggestLabel" aria-hidden="true" style="top: 10%">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" role="form" ng-controller="authController" ng-submit="expression">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="suggestLabel">
						吐槽>>>
						<small>写下你的真心话</small>
					</h3>
				</div>
				<div class="modal-body">
					<textarea class="form-control" rows="3" ng-mouseover="user.suggest" c required></textarea>
				</div>
				<div class="modal-footer"  style="padding: 20px 40px;">
					<button class="btn btn-success" type="submit">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--吐槽建议结束-->

<script>
$(function(){
    //返回顶部
    $(".back-top").hide();
	$(window).scroll(function() {
		if ($(window).scrollTop() > 100) {
			$(".back-top").fadeIn(500);
		} else {
			$(".back-top").fadeOut(500);
		}
	});
	$(".go").click(function() {
		$('body,html').animate({
			scrollTop: 0
		}, 500);
		return false;
	});
});

</script>



</body>
</html>
