requests>=2.18.1
BeautifulSoup4>=4.6
lxml>=3.8
tushare>=0.8.2
pyzmq>=4.1.5
six
logbook>=0.12.5
numpy>=1.13.1
pandas>=0.20.2
pymongo>=3.1.1
matplotlib>=1.5.1
python-dateutil>=2.4.2
progressbar2>=3.6.2
TA-Lib>=0.4.8