<!--一个商品展示区域开始-->
<div class="col-lg-4 col-md-5 col-sm-10 sale-item" ng-repeat="hot in hots">
	<div class="sale-item-box" ng-click="getShopDetail(hot.id)">
		<div class="sale-item-img">
			<a ui-sref=".detail.describe" target="_blank">
				<img class="img-responsive" ng-src="{[imgUrl+hot.photo_intros]}"/>
			</a>
			<p>&yen;<span style="color: red;">&nbsp;{[hot.price | number:2]}</span></p>
		</div>
		<div class="sale-item-title">
			<a ui-sref=".detail.describe" target="_blank">{[hot.title]}</a>
		</div>
		<div class="sale-item-tips">
			<a class="btn btn-danger btn-xs" href="#">
				<span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
				{[hot.num_liked]}
			</a>
			<a class="pull-right" href="#">销量({[hot.num_sale]})</a>
		</div>
		<hr class="sale-item-line" />
		<!--一个用户评论区域开始-->
		<div class="sale-item-comment">
			<ul class="list-unstyled">
				<li class="head">
					<a href="#">
						<img class="img-circle img-responsible" ng-src="{[imgUrl+hot.post.avater]}"/>
					</a>
				</li>
				<li class="comment">
					<a href="#">{[hot.post.username]}</a>
					<p>{[hot.post.comments]}</p>
				</li>
			</ul>
		</div>
	</div>
	<!--一个用户评论区域结束-->
</div>
<!--一个商品展示区域结束-->