<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset = "UTF-8">
<title>异想</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 70px;">
<!--头部导航栏开始-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="collapsed-navbar" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--logo-->
            <a class="navbar-brand" href="javascript:void(0);">
                <img alt="Brand" src="" />
            </a>
            <!--logo-->
        </div>
        <!--导航栏items区域开始-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navbar-top">
                <li class="active" id="btn-home">
                	<a href="javascript:void(0);">
                		<span class="glyphicon glyphicon-home"></span>
                		主页
                	</a>
                </li>
                <li class="" id="btn-pre-sale">
                	<a href="javascript:void(0);">
                		<span class="glyphicon glyphicon-dashboard"></span>
                		预售
                	</a>
                </li>
                <li class="" id="btn-shop">
                	<a href="javascript:void(0);">
                		<span class="glyphicon glyphicon-shopping-cart"></span>
                		商店
                	</a>
                </li>
                <li class="" id="btn-vote">
                	<a href="javascript:void(0);">
                		<span class="glyphicon glyphicon-heart"></span>
                		投票
                	</a>
                </li>
                <li class="" id="btn-bbs">
                	<a href="javascript:void(0);">
                		<span class="glyphicon glyphicon-tree-deciduous"></span>
                		社区
                	</a>
                </li>
            </ul>
            <!--导航栏items区域结束-->
            <!--导航栏搜索框form表单开始-->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入搜索内容">
                </div>
                <button type="submit" class="btn btn-info">搜索</button>
            </form>
            <!--导航栏搜索框form表单结束-->
            <ul class="nav navbar-nav navbar-right">
            	<li id="btn-shopping-cart" class="dropdown" style="position: relative;" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="您的购物车里还没有商品，赶快选购吧！">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                		<span class="glyphicon glyphicon-shopping-cart"></span>
                		购物车
                		<b class="caret"></b>
                	</a>
                	<div class="panel panel-default panel-cart" style="display: none; position: absolute; top: 50px; left: -370px;">
                    	<div class="panel-body">
			                <table class="table table-hover" style="width: 428px;">
							   <thead>
							      <tr>
							      	 <th></th>
							         <th>产品信息</th>
							         <th>数量</th>
							         <th>小计</th>
							         <th></th>
							      </tr>
							   </thead>
							   <tbody>
							      <tr style="height: 73px;">
							      	 <td style="width: 64px;"><a
                                             href="#"><img class="img-circle" src="/img/cc.jpg" alt="" style="width: 50px;height: 50px;" /></a></td>
							         <td style="width: 140px;"><a href="#">COCO面条数据线 七彩鞋带时尚</a></td>
							         <td style="width: 47px;">1</td>
							         <td style="width: 45px;">39</td>
							         <td style="width: 140px;"><a href="#"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
							      </tr>
							      <tr style="height: 73px;">
							      	 <td style="width: 64px;"><a href="#"><img class="img-circle" src="img/cc.jpg" alt="" style="width: 50px;height: 50px;" /></a></td>
							         <td style="width: 140px;"><a href="#">COCO面条数据线 多功能多彩</a></td>
							         <td style="width: 47px;">1</td>
							         <td style="width: 45px;">39</td>
							         <td style="width: 140px;"><a href="#"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
							      </tr>
							      <tr style="height: 73px;">
							      	 <td colspan="4">
							      	 	<p>共计：<span style="color: red;">2</span>&nbsp;件产品</p>
							      	 	<p>总计：<span style="color: red;">78</span>&nbsp;元</p>
							      	 </td>
							      	 <td>
							      	 	<a href="#" class="btn btn-success pull-right">去结算</a>
							      	 </td>
							      </tr>
							   </tbody>
							</table>
						</div>
					</div>
                </li>                    
                <li id="btn-login" style="display: none;">
                	<a href="accounts/login">
                		<span class="glyphicon glyphicon-user"></span>
                		登录
                	</a>
                </li>
                <li id="btn-register" style="display: none;">
                	<a href="accounts/register">注册</a>                    	
                </li>
                <!--登录后用户中心区域开始/默认隐藏-->
                <li id="" class="dropdown" style="display: -none;">
                	<a href="accounts/login" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" data-close-others="false">
                		<span class="glyphicon glyphicon-user"></span>
                		XXX用户
                		<b class="caret"></b>
                	</a>
            		<ul class="dropdown-menu">
            			<li><a href="">账户设置</a></li>
            			<li class="divider"></li>
            			<li><a href="">查看个人资料</a></li>
            			<li class="divider"></li>
            			<li><a href="">我的订单</a></li>
            			<li class="divider"></li>
            			<li><a href="">帮助</a></li>
            			<li class="divider"></li>
            			<li><a href="">退出</a></li>
            		</ul>                    	
                </li>
                <!--登录后用户中心区域结束-->
            </ul>
        </div>
    </div>
</nav>
<!--头部导航栏结束-->
<!--分类导航栏开始-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	生活改良
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">卫浴用品</a>
						</li>
						<li>
							<a href="#">吃货神奇</a>
						</li>
						<li>
							<a href="#">灯光照明</a>
						</li>
						<li>
							<a href="#">伞</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	办公文具
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">办公收纳</a>
						</li>
						<li>
							<a href="#">笔记本</a>
						</li>
						<li>
							<a href="#">文件夹</a>
						</li>
						<li>
							<a href="#">信笺纸</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	美化装饰
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">天使</a>
						</li>
						<li>
							<a href="#">挂饰</a>
						</li>
						<li>
							<a href="#">花瓶</a>
						</li>
						<li>
							<a href="#">梳妆台</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	个性装备
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">饰品</a>
						</li>
						<li>
							<a href="#">手表</a>
						</li>
						<li>
							<a href="#">服装</a>
						</li>
						<li>
							<a href="#">袜子</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	数码科技
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">智能手环</a>
						</li>
						<li>
							<a href="#">智能手表</a>
						</li>
						<li>
							<a href="#">智能闹钟</a>
						</li>
						<li>
							<a href="#">HIFI耳机</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	玩具娱乐
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">布娃娃</a>
						</li>
						<li>
							<a href="#">遥控灰机</a>
						</li>
						<li>
							<a href="#">乌龟风筝</a>
						</li>
						<li>
							<a href="#">衮雪球球</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			         	户外旅行
			        	<span class="caret"></span>
			    	</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">山地自行车</a>
						</li>
						<li>
							<a href="#">户外眼睛</a>
						</li>
						<li>
							<a href="#">越野跑鞋</a>
						</li>
						<li>
							<a href="#">旅行背包</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--分类导航栏结束-->
<!--产品删选区域开始-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			分类：
			<a href="#">全部</a>
			<a href="#">卫浴用品</a>
			<a href="#">吃货神器</a>
			<a href="#">灯光照明</a>
			<a href="#">伞</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2">
			排序：
			<a href="#">热销</a>
			<a href="#">最新</a>
			<a href="#">最热</a>	
		</div>
		<div class="col-md-10">
			价格：
			<div class="btn-group">
				<button class="btn btn-default btn-xs" type="button">全部</button>
				<button class="btn btn-default btn-xs" type="button">0-100</button>
				<button class="btn btn-default btn-xs" type="button">101-200</button>
				<button class="btn btn-default btn-xs" type="button">201-300</button>
				<button class="btn btn-default btn-xs" type="button">301-400</button>
				<button class="btn btn-default btn-xs" type="button">401-500</button>
				<button class="btn btn-default btn-xs" type="button">500以上</button>
			</div>
		</div>
	</div>
	<hr />
</div>
<!--产品删选区域结束-->
<!--产品展示区域开始-->
</span>
<div class="container">
	<div class="row">
		<!--一个商品展示区域开始-->
		<div class="col-md-3">
			<a href="#">
				<img class="img-responsive" src="../img/01-233.jpg" style="width: 100%;"/>
			</a>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<p>
						<a href="#">神马冰裂瓷碗 独家发售赶快抢购吧 什么都不用说了</a>
						<br />
						&yen;<b style="color: red;">28</b>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<a href="#"><span class="glyphicon glyphicon-heart-empty pull-left" style="font-size: 1.2em;"></span>&nbsp;258</a>
					<a class="pull-right" href="#">销量<span>(123)</span></a>
				</div>
			</div>
			<hr style="width: 90%;margin: 3px auto 15px;" />
			<!--一个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--一个用户评论区域结束-->
			<!--二个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--二个用户评论区域结束-->
		</div>
		<!--一个商品展示区域结束-->
		
		<!--一个商品展示区域开始-->
		<div class="col-md-3">
			<a href="#">
				<img class="img-responsive" src="../img/04-233.jpg" style="width: 100%;"/>
			</a>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<p>
						<a href="#">神马冰裂瓷碗 独家发售赶快抢购吧 什么都不用说了</a>
						<br />
						&yen;<b style="color: red;">28</b>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<span class="glyphicon glyphicon-heart-empty pull-left"></span>
					<p class="pull-right">销量<span>(123)</span></p>
				</div>
			</div>
			<hr style="width: 90%;margin: 3px auto 15px;" />
			<!--一个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--一个用户评论区域结束-->
			<!--二个用户评论区域开始-->
			<!--<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>-->
			<!--二个用户评论区域结束-->
		</div>
		<!--一个商品展示区域结束-->
		
		<!--一个商品展示区域开始-->
		<div class="col-md-3">
			<a href="#">
				<img class="img-responsive" src="../img/03-233.jpg" style="width: 100%;"/>
			</a>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<p>
						<a href="#">神马冰裂瓷碗 独家发售赶快抢购吧 什么都不用说了</a>
						<br />
						&yen;<b style="color: red;">28</b>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<span class="glyphicon glyphicon-heart-empty pull-left"></span>
					<p class="pull-right">销量<span>(123)</span></p>
				</div>
			</div>
			<hr style="width: 90%;margin: 3px auto 15px;" />
			<!--一个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--一个用户评论区域结束-->
			<!--二个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--二个用户评论区域结束-->
		</div>
		<!--一个商品展示区域结束-->
		
		<!--一个商品展示区域开始-->
		<div class="col-md-3">
			<a href="#">
				<img class="img-responsive" src="../img/02-233.jpg" style="width: 100%;"/>
			</a>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<p>
						<a href="#">神马冰裂瓷碗 独家发售赶快抢购吧 什么都不用说了</a>
						<br />
						&yen;<b style="color: red;">28</b>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding: 0 25px;">
					<span class="glyphicon glyphicon-heart-empty pull-left"></span>
					<p class="pull-right">销量<span>(123)</span></p>
				</div>
			</div>
			<hr style="width: 90%;margin: 3px auto 15px;" />
			<!--一个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--一个用户评论区域结束-->
			<!--二个用户评论区域开始-->
			<div class="row">
				<div class="col-md-2" style="padding: 0 0 0 25px;">
					<a href="#">
						<img class="img-responsive img-circle" src="../img/avatar_default_small.jpg" width="30px" height="30px"/>
					</a>
				</div>
				<div class="col-md-10" style="padding-right: 25px;">
					<p>
						<a href="#">异想创意</a>
						<br />
						<span style="font-size: 0.75em;">内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~</span>
					</p>
				</div>
			</div>
			<!--二个用户评论区域结束-->
		</div>
		<!--一个商品展示区域结束-->
	</div>
</div>
<!--产品展示区域结束-->
<!--javascript-->
<script src="../js/lib/jquery.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
</body>
</html>
