<br />
<div class="container">
	<div class="row">
		<div ui-view="product-detail-header">

			<div class="col-md-14">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>骨灰级创意发烧友教你手环另类奇葩用法<br /><small>发起人：<span style="color: #333;">杨精坤</span>&nbsp;&nbsp;广东深圳</small></h3>
					</div>
					<div class="panel-body">
						<a href="#">
							<img class="img-responsive" src="../img/watch-detail.jpg" style="width: 100%;" alt="" />
						</a>
						<ul class="nav nav-tabs">
							<li ui-sref-active="active" ui-sref=".describe">
								<a>项目详情</a>
							</li>
							<li ui-sref-active="active" ui-sref=".spit">
								<a>吐槽<span>(26)</span></a>
							</li>
							<li ui-sref-active="active" ui-sref=".question">
								<a>评论(问答)<span>(248)</span></a>
							</li>
						</ul>
						<div class="fever-detail-tab" style="padding-top: 50px;">
							<div ui-view></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-20">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="shara">
									<!-- JiaThis Button BEGIN -->
									<div class="jiathis_style_24x24" style="float: right;">
										<a class="jiathis_button_qzone"></a>
										<a class="jiathis_button_tsina"></a>
										<a class="jiathis_button_tqq"></a>
										<a class="jiathis_button_weixin"></a>
										<a class="jiathis_button_renren"></a>
										<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
									</div>
									<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
									<!-- JiaThis Button END -->
								</div>
								<br />
								<h3>累计赞: <span class="h1" style="color: #f36;">56465</span> <small>次</small></h3>
								<br />
								<div class="progress progress-striped active" style="height: 10px;">
								   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
								      aria-valuemin="0" aria-valuemax="100" style="width: 81%;height: 10px;">
								      <span class="sr-only">81% 完成</span>
								   </div>
								</div>
								<br />
								<div style="height: 45px;">
									<span class="col-md-6 col-md-offset-1">还需  86 个赞</span>
									<span class="col-md-6" style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">已达到81%</span>
									<span class="col-md-6">剩余 8 天</span>
								</div>
								<br />
								<div class="btn-group" style="width: 100%;">
									<!--<a class="btn btn-success" href="#" style="width: 50%;">
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</a>
									<a class="btn btn-warning" href="#" style="width: 50%;">
										<span class="glyphicon glyphicon-thumbs-down"></span>
									</a>-->
									<a class="btn btn-primary btn-lg btn-block" href="">
										<span class="glyphicon glyphicon-thumbs-up">

									</a>
								</div>
								<br />
								<h3 class="page-header">支持者</h3>
								<div class="btn-group">
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/03-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/01-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/03-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/01-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/03-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/01-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/03-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/03-233.jpg" alt="" width="40px" height="40px" />
									</a>
									<a class="btn" href="#">
										<img class="img-responsive img-circle" src="/img/01-233.jpg" alt="" width="40px" height="40px" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-20">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>异想&nbsp;<small>yeexiang.com</small></h3>
							</div>
							<div class="panel-body">
								<p>创意,我们保持大脑活力的源泉。创意网,搜集了国内外最新创意设计、婚礼创意、创意广告、创意家居、创意产品、创意礼品;这里,激发你无尽的大脑畅想!</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-20 text-center">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="btn-group" style="width: 100%;padding-bottom: 20px;">
									<button type="button" class="btn btn-primary btn-lg btn-block" >赞一下</button>
								</div>
								<div style="padding-bottom: 50px;">
									<span class="col-md-4">345<br />已赞</span>
									<span class="col-md-4"style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">56%<br />已达到</span>
									<span class="col-md-4">345<br />剩余</span>
								</div>
								<div style="padding-bottom: 20px;">
									<a href="">
										<img src="/img/02-233.jpg" alt="" />
									</a>
								</div>
								<div>
									<p>
										SENSC-【炫彩魔灯】首发1台，
										感谢您对SENSC的倾心支持，您是首批支持我们的朋友，
										因此我们只能将这个优惠的价格提供给300位， 也希望您能和我们一直保持联系，
										推荐给更多的朋友，帮助我们不断的改进产品。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-20 text-center">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="btn-group" style="width: 100%;padding-bottom: 20px;">
									<button type="button" class="btn btn-primary btn-lg btn-block" >赞一下</button>
								</div>
								<div style="padding-bottom: 50px;">
									<span class="col-md-4">345<br />已赞</span>
									<span class="col-md-4"style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">56%<br />已达到</span>
									<span class="col-md-4">345<br />剩余</span>
								</div>
								<div style="padding-bottom: 20px;">
									<a href="">
										<img src="/img/02-233.jpg" alt="" />
									</a>
								</div>
								<div>
									<p>
										SENSC-【炫彩魔灯】首发1台，
										感谢您对SENSC的倾心支持，您是首批支持我们的朋友，
										因此我们只能将这个优惠的价格提供给300位， 也希望您能和我们一直保持联系，
										推荐给更多的朋友，帮助我们不断的改进产品。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-20 text-center">
						<div class="panel panel-default" style="background-image: url(/img/presale01.jpg);height: 300px;padding-top: 100px;">
							<h3>
								<span class="glyphicon glyphicon-chevron-left pull-left"></span>
								我是一个广告
								<span class="glyphicon glyphicon-chevron-right pull-right"></span>
							</h3>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-20">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>你可能还喜欢？</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>雨天里的诗意魔法—如鱼得水 遇水变色雨伞</h4>
									</a>
								</div>
								<hr />
								<div class="finish" style="padding: 0 10px;">
									<h5>已积累988个赞，还差36个赞</h5>
								</div>
								<div class="" style="padding: 0 10px 10px;">
									<h5>剩余：<span style="color: red;">2 </span>天</h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>思其安云智能血压监护计 预警病况 贴心守护</h4>
									</a>
								</div>
								<hr />
								<div class="finish" style="padding: 0 10px;">
									<h5>已积累988个赞，还差36个赞</h5>
								</div>
								<div class="" style="padding: 0 10px 10px;">
									<h5>剩余：<span style="color: red;">7 </span>天</h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>情感化设计—多重感官体验Clara花瓶蓝牙音响</h4>
									</a>
								</div>
								<hr />
								<div class="finish" style="padding: 0 10px;">
									<h5>已积累988个赞，还差36个赞</h5>
								</div>
								<div class="" style="padding: 0 10px 10px;">
									<h5>剩余：<span style="color: red;">12 </span>天</h5>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="like-box" style="box-shadow: 0 0 3px #ccc;">
								<div class="img">
									<a href="">
										<img class="img-responsive" src="/img/01-233.jpg" alt="" width="100%"/>
									</a>
								</div>
								<div class="like-title" style="padding: 0 10px;">
									<a href="">
										<h4>不一样的夜晚 与音乐共舞的魔灯，炫彩情景音箱</h4>
									</a>
								</div>
								<hr />
								<div class="finish" style="padding: 0 10px;">
									<h5>已积累988个赞，还差36个赞</h5>
								</div>
								<div class="" style="padding: 0 10px 10px;">
									<h5>剩余：<span style="color: red;">6 </span>天</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<div class="footer" style="background-color: #333333;color: #f3f3f3;">
	<div class="container">
		<div class="row" style="height: 200px;">
			<div ui-view="footer"></div>
		</div>
	</div>
</div>