<div  style="width: 100%;height: 130px; background: #F3F3F3;">
	<div class="container" style="background: #F3F3F3;">
		<div class="row">
			<div class="col-md-18">
				<h1>发现创意<br /><small>find an idea</small></h1>
			</div>
		</div>
	</div>
</div>
<!--分类导航栏开始-->
<div style="width: 100%;padding: 10px 0; border-bottom: 1px solid #ccc;">
	<div class="container">
		<div class="row">
			<div class="col-md-20">
				<ul class="nav nav-pills shop-type">
				    <li class="active"><a href="##">全部</a></li>
				    <li><a href="##">异想家</a></li>
				 	<li><a href="##">办公文具</a></li>
				 	<li><a href="##">玩具娱乐</a></li>
				 	<li><a href="##">生活改良</a></li>
				 	<li><a href="##">数码科技</a></li>
				 	<li><a href="##">个性装备</a></li>
				 	<li><a href="##">户外运动</a></li>
				 	<li><a href="##">美化装饰</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--分类导航栏结束-->
<br />