<div class="col-md-2" style="padding-top: 30px;">
    <h5><b>关于</b></h5>
    <a>关于异想</a><br />
    <a>联系我们</a><br />
    <a>成功案例</a><br />
    <a>加入异想</a>
</div>
<div class="col-md-2" style="padding-top: 30px;">
    <h5><b>服务</b></h5>
    <a>找回密码</a><br />
    <a>常见问题</a><br />
    <a>服务协议</a><br />
    <a>隐私政策</a>
</div>
<div class="col-md-2" style="padding-top: 30px;">
    <h5><b>合作</b></h5>
    <a>媒体合作</a><br />
    <a>渠道合作</a><br />
    <a>友情链接</a>
</div>
<div class="col-md-10" style="padding-top: 30px;">
	<img class="img-responsive" src="/img/cc.png" alt="" />
</div>
<div class="col-md-4" style="padding-top: 30px;">
    <p><b>关注我们</b></p>
    <p>
        <a class="btn">
            <img class="img-circle img-responsive"  src="/img/01-233.jpg" style="width: 30px;height: 30px;"/>
        </a>
        <a class="btn">
            <img class="img-circle img-responsive"  src="/img/01-233.jpg" style="width: 30px;height: 30px;"/>
        </a>
        <a class="btn">
            <img class="img-circle img-responsive"  src="/img/01-233.jpg" style="width: 30px;height: 30px;"/>
        </a>
        <a class="btn">
            <img class="img-circle img-responsive"  src="/img/01-233.jpg" style="width: 30px;height: 30px;"/>
        </a>
    </p>
</div>
