<div class="row">
	<div class="col-md-20">
		<label for="">分类：</label>
		<a href="#" style="padding: 0 5px;color: #f36;">全部</a>
		<a href="#" style="padding: 0 5px;">卫浴用品</a>
		<a href="#" style="padding: 0 5px;">吃货神器</a>
		<a href="#" style="padding: 0 5px;">灯光照明</a>
		<a href="#" style="padding: 0 5px;">伞</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-4">
		<label for="">排序：</label>
		<a href="#" style="padding: 0 5px;color: #FF3366;">最新</a>
		<a href="#" style="padding: 0 5px;">最热</a>
		<a href="#" style="padding: 0 5px;">销量</a>
	</div>
	<div class="col-md-16">
		价格：
		<div class="btn-group">
			<button class="btn btn-default btn-xs active" type="button">全部</button>
			<button class="btn btn-default btn-xs" type="button">0-100</button>
			<button class="btn btn-default btn-xs" type="button">101-200</button>
			<button class="btn btn-default btn-xs" type="button">201-300</button>
			<button class="btn btn-default btn-xs" type="button">301-400</button>
			<button class="btn btn-default btn-xs" type="button">401-500</button>
			<button class="btn btn-default btn-xs" type="button">500以上</button>
		</div>
	</div>
</div>
<hr />