<table class="table table-responsive">
	<thead>
		<tr>
			<th>买家</th>
			<th>购买数量(件)</th>
			<th>成交时间</th>
			<th>款式和型号</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a class="pull-left" href="#">
					<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
				</a>
				<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
			</td>
			<td>1</td>
			<td>2014-11-05</td>
			<td>XS纪念版</td>
		</tr>
		<tr>
			<td>
				<a class="pull-left" href="#">
					<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
				</a>
				<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
			</td>
			<td>1</td>
			<td>2014-11-05</td>
			<td>XS纪念版</td>
		</tr>
		<tr>
			<td>
				<a class="pull-left" href="#">
					<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
				</a>
				<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
			</td>
			<td>1</td>
			<td>2014-11-05</td>
			<td>XS纪念版</td>
		</tr>
	</tbody>
</table>