<div>
	<form role="form">
	  <div class="form-group">
	    <label for="name">评论</label>
	    <textarea class="form-control" rows="3"></textarea>

	  </div>
	  <div class="form-group text-right">
	       <button class="btn btn-success">提交</button>
	  </div>
	</form>
</div>
<div id="accordion">
	<!--一个人的评论开始-->
	<div class="media panel" style="border-bottom: 1px dashed #ccc;padding-bottom: 5px;">
		<a class="pull-left" href="">
			<img class="media-object img-circle img-responsive" src="/img/01-233.jpg" alt="头像" width="40px" height="40px">
		</a>
		<div class="media-body">
			<a href=""><h4 class="media-heading">蜗基大神</h4></a>
			<div>对于经常使用传统耳机的人群来说，耳膜的损伤导致听力的下降是不可避免的，骨传导蓝牙耳机采用振动接触耳骨的方式来使顾客感知声音，耳膜得到极大的保护，同时不需要耳塞塞入耳朵，符合未来可穿戴设备健康舒适卫生的要求。</div>
		</div>
		<!-- <div style="padding: 0 10px 10px;text-align: right;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>
			<a data-target="#spit-one" data-toggle="collapse" data-parent="#accordion" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
		</div> -->
		<div id="spit-one" class="collapse">
			<form role="form">
			  <div class="form-group">
			    <label for="name">评论</label>
			    <textarea class="form-control" rows="3"></textarea>

			  </div>
			  <div class="form-group text-right">
			       <button class="btn btn-success">提交</button>
			  </div>
			</form>
		</div>
	</div>
	<!--一个人的评论结束-->

	<!--一个人的评论开始-->
	<div class="media panel" style="border-bottom: 1px dashed #ccc;padding-bottom: 5px;">
		<a class="pull-left" href="">
			<img class="media-object img-circle img-responsive" src="/img/01-233.jpg" alt="头像" width="40px" height="40px">
		</a>
		<div class="media-body">
			<a href=""><h4 class="media-heading">蜗基大神</h4></a>
			<div>对于经常使用传统耳机的人群来说，耳膜的损伤导致听力的下降是不可避免的，骨传导蓝牙耳机采用振动接触耳骨的方式来使顾客感知声音，耳膜得到极大的保护，同时不需要耳塞塞入耳朵，符合未来可穿戴设备健康舒适卫生的要求。</div>
		</div>
		<!-- <div style="padding: 0 10px 10px;text-align: right;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>
			<a data-target="#spit-two" data-toggle="collapse" data-parent="#accordion" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
		</div> -->
		<div id="spit-two" class="collapse">
			<form role="form">
			  <div class="form-group">
			    <label for="name">评论</label>
			    <textarea class="form-control" rows="3"></textarea>

			  </div>
			  <div class="form-group text-right">
			       <button class="btn btn-success">提交</button>
			  </div>
			</form>
		</div>
	</div>
	<!--一个人的评论结束-->

	<!--一个人的评论开始-->
	<div class="media panel" style="border-bottom: 1px dashed #ccc;padding-bottom: 5px;">
		<a class="pull-left" href="">
			<img class="media-object img-circle img-responsive" src="/img/01-233.jpg" alt="头像" width="40px" height="40px">
		</a>
		<div class="media-body">
			<a href=""><h4 class="media-heading">蜗基大神</h4></a>
			<div>对于经常使用传统耳机的人群来说，耳膜的损伤导致听力的下降是不可避免的，骨传导蓝牙耳机采用振动接触耳骨的方式来使顾客感知声音，耳膜得到极大的保护，同时不需要耳塞塞入耳朵，符合未来可穿戴设备健康舒适卫生的要求。</div>
		</div>
		<!-- <div style="padding: 0 10px 10px;text-align: right;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>
			<a data-target="#spit-three" data-toggle="collapse" data-parent="#accordion" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
		</div> -->
		<div id="spit-three" class="collapse">
			<form role="form">
			  <div class="form-group">
			    <label for="name">评论</label>
			    <textarea class="form-control" rows="3"></textarea>

			  </div>
			  <div class="form-group text-right">
			       <button class="btn btn-success">提交</button>
			  </div>
			</form>
		</div>
	</div>
	<!--一个人的评论结束-->
</div>

