<br />
<div class="container">
	<div class="row">
		<div class="col-md-4" style="padding-top: 20px;">
			<div class="list-group" id="user-center-menu">
				<a ui-sref-active="active" ui-sref=".setting" class="list-group-item">安全设置<i class="glyphicon glyphicon-cog pull-right"></i></a>
				<a ui-sref-active="active" ui-sref=".info" class="list-group-item">个人资料<i class="glyphicon glyphicon-user pull-right"></i></a>
				<a ui-sref-active="active" ui-sref=".address" class="list-group-item">收货地址<i class="glyphicon glyphicon-map-marker pull-right"></i></a>
				<a ui-sref-active="active" ui-sref=".order" class="list-group-item">我的订单<i class="glyphicon glyphicon-shopping-cart pull-right"></i></a>
				<a ui-sref-active="active" ui-sref=".coupon" class="list-group-item">我的优惠券<i class="glyphicon glyphicon-gift pull-right"></i></a>
				<a ui-sref-active="active" ui-sref=".service" class="list-group-item">售后服务<i class="glyphicon glyphicon-phone-alt pull-right"></i></a>
			</div>
		</div>
		<div class="col-md-16">
			<div ui-view></div>
		</div>
	</div>
</div>