<div class="container">
    <div class="col-md-20">
        <div class="row">
            <div class="jumbotron" style="background: url('http://frstatic.qiniudn.com/images/bg-user-home.jpg') no-repeat;">
                <div class="text-center" style="color: white;">
                     <p>
                        <img class="img-circle" src="img/avatar_default_small.jpg" />
                    </p> 
                    <p>
                        CZT
                    </p>
                    <p>
                        Programmer
                    </p>
                    <p>
                        nothing to be described
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <p class="btn-group">
                    <a class="btn btn-danger">全部</a>
                    <a class="btn btn-default">发起的产品</a>
                    <a class="btn btn-default">支持的产品</a>
                    <a class="btn btn-default">喜欢的产品</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-14">
                <h3>他的动态</h3>
            </div>
            <div class="col-md-6">
                <h3>相关话题</h3>
                <h3>关注他</h3>
                <p>
                    <a class="btn btn-default">A</a>
                    <a class="btn btn-default">B</a>
                    <a class="btn btn-default">C</a>
                </p>
            </div>
        </div>
    </div>
</div>